/* inline-start */
.inline1 {
    border: 2px solid black;
}

.inline2 {
    border: 2px solid green;
    background-color: yellow;
    width: 50%;
    height: 400px;
    margin-top: 12px;
    margin-bottom: 12px;

    text-align: center;


}

h1 {

    padding-top: 19px;


}

.inline3 {
    border: 2px solid saddlebrown;
    background-color: seagreen;
}

.inline4 {
    border: 2px solid sienna;
    background-color: skyblue;
    width: 100%;
    height: 200px;
}

.a1 {
    border: 2px solid black;
    padding: 23px;
    margin: 23px;
}

img {
    width: 200px;
    height: 200px;
}

.span1 {
    border: 2px solid black;
    width: 34px;
    height: 23px;
    padding: 23px;
    margin-bottom: 23px;
    margin-left: 23px;
}

/* inline-block-inlineblock */
.moric1 {
    border: 2px solid hotpink;
    background-color: crimson;
    display: inline;

}

div {
    background-color: darkorange;
}

.a2 {
    display: block;
    height: 34px;
}

.a3 {
    display: inline-block;
    height: 100px;
    width: 200px;
}

/* box-model */
.box-model {

    border-image: transparent;
    border-image: url(show-off/border.png) round;
    border-image-slice: 30%;
    padding: 34px;
    margin: 45px;


}

.mira:focus {
    color: red;
    font-weight: 700;
}

.hovi1:hover {
    color: rebeccapurple;
    background-color: sandybrown;
    padding: 23px;
}

a:visited {
    color: red;
}

.before-after::before {
    content: 'tomi amar';
    background-color: red;
}

.before-after::after {
    content: 'se ki janena ';
    color: red;
}

.before-after:first-child {
    color: indigo;
}

.before-after:nth-child(1) {
    color: green;
}

#id li p :last-child {
    color: lightblue;
}